.Register{
    	    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
height: 100vh;
position: relative;
}
form{
    height:80%;
    width:40%;
    background-color: white;
    top:50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius:30px;
    
}
form h1{
    text-align: center;
    padding: 20px 0;
}
.ctn{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap:10px;

}
.ctn label{
    font-size: 25px;
    
    font-weight: bold;
}
.pass{
    margin-bottom:20px;
}
.ctn input{
    height:50px;
    width: 100%;
    text-align:left;
    padding: 20px;
    
}
.regbtn{
padding: 12px 80px;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
display: flex;
justify-content: center;align-items: center;
margin: 20px 20px;
border-radius:30px;
text-decoration: none;
color:white;
}

.t{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
@media (max-width:800px) {

    form{
    height:80vh;
    width:80%;}
    .regbtn{
padding: 2px 30px;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 34%, rgba(0,212,255,1) 100%);
display: flex;
justify-content: center;align-items: center;
margin: 0 20px;

text-decoration: none;
color:white;
}

.ctn input{
    height:10px;
    width: 100%;
    text-align:left;
    padding: 10px;
    
}
}