.flite-nav{
    height: 70px;

    background-color: #003580;
}
.filte-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    height:300px;
    margin:2% 10%;
    width:80%;
    margin-top: -5%;
    color: gray;
}
.hi{
    top:50px;
    left:100px;
    width:100px;
    background-color: white;
    color:red;
}
.open{
    background-color:white;
    color:red;
    height:400px;
    width:300px;
    position: fixed;
    top:20px;
}
.popup{
    width:200px;
    height:300px;
    position: fixed;
    top:50p;
    right:50px;
    background:white;
}
.bookt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color:"blue"
}

.filte-container h1{
    font-size: 15px;
    text-align: center;
    padding:10px;
}
.Flight-search{
    margin:4% 10%;
    width:80%;
    display: flex;
    
    justify-content: center;
    gap:10px;
    align-items: center;
}
.flight-search-container{
    display: flex;
    align-items: start;
    justify-content: center;
    gap:20px;
    flex-direction: column;

}
.flight-search-container input{
    padding:20px 30px;
    width:100%;
    font-size: 18px;
}

.flight-btn{
    background-color: #003580;
    color: #fff;
    padding: 23px 70px;
    transform: translateY(20px);

}
.api{
    border: 1px solid #003580;
    margin: 40px;
    padding: 20px;
}
.api span{
margin: 20px;
font-size: 17px;
font-weight: normal;
}
.flight-book{
    margin:  5% 10%;
    width: 80%;
    margin-top: 100px;
}
.btn-book{
    background-color: #003580;
    color: #fff;
    padding: 10px 40px;
    border: none;
    margin:14px 0px;
    cursor: pointer;
    border-radius:15px;
    
}

.headeer-container {
    width: 100%;
    padding: 2rem 2rem;
    color: white;
    display: flex;
    align-items: center;
}
.header{
    padding:30px 0;
}

.book234{
    height:200px;
    width:100%;
    top:300px;
    left:400px;
    position: fixed;
    background-color: #f7f7f7;
}

.modal ,.overlay{
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    bottom:0;
    right: 0;
    position: fixed;

}
.overlay{
    background:rgba(49,49,49.8)
}
.flight-option{
    height:400px;
    width:80%;
    

}
.fligth-detailsts{
    border:2px solid #003580;
display: flex;
border-radius:20px;
overflow: hidden;
   
}
.fligth-details{
    font-size: 25px;
}
.fligth-detailsts img{
    width:100%;
    height:100%;
    
    
}
.flight-conten{
    width:80%;
    margin:20px;
}
.fligth-details{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fligth-image img{
height:0px;
width:0px;
}


@media (max-width:900px){
    .flight {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;
        }
        .fligth-detailsts img {
            width: 0%;
            height: 0%;
    
        }

                .fligth-details {
                    font-size: 18px;
                }
        .fligth-option {
            height: 500px;
            width: 300px;
            padding: 11px;
            margin: 20px 0;
            border: 2px solid #003580;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 10px 10px rgba(156, 154, 154, 0.5);
        }
                .fligth-detailsts{
                        border: 4px none red;
                }
                .flight-conten{
                    margin: 0;
                    width:100%;
                }
    
        .btn-book {
            width: 80%;
            margin: 0 10%;
            margin-top: 30px;
            padding: 4px 7px;
            background-color: #003580;
            color: #fff;
        }
        .flight-wing-image{
            display: none;
        }
    
        .fligth-image img {
            height: 180px;
            width: 100%;
        }
        .flight-option{
            width: 100%;
        }
    
        .fligth-details {
            display: flex;
            margin-left: 4px;
            align-items: center;
            justify-content: space-between;
            padding: 4px;
            font-weight: bold;
            color: #003580;
            border: none;
        }
}
@media  (max-width: 350px){
    .fligth-details{
        font-size: 12px;
    }
}


.format-pre pre {
    background: #003580;
    color: #f7f7f7;
    padding: 10px;
    height:200px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}