*{
    margin:0;
    padding:0;
}
.listContainer {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.listWrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch {
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;

    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.lsItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label {
    font-size: 12px;
}

.lsItem>input {
    height: 30px;
    border: none;
    padding: 5px;
}

.lsItem>span {
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptions {
    padding: 10px;
}

.lsOptionItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 12px;
}

.lsOptionInput {
    width: 50px;
}

.listSearch>button {
    padding: 10px;
    background-color: #0071c2;
    color: white;
    border: none;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}

.listResult {
    flex: 3.5;
}

.checkout{
    height:100%;
    width:100%;
    margin-top:-20px;
    background-color:  #0071c2;
    color:white;
    position: fixed;
    top:20px;
    font-weight:bold;
    z-index:111111;
}
.media-block{
    display:none;
}
@media only screen and (max-width: 900px) {
.listWrapper {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .listSearch {
        display: block;
        position: relative;

    }

    
}

@media only screen and (max-width:700px) {
    .listWrapper{
        display: flex;
            flex-direction: column;
            width: 80%;
    }
    .listSearch{
        display: block;
        position: relative;
        
    }
    .listResultdiv{
        display: none;
    }
    .media-block{
        display: block;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .media-block h1{
        text-align: center;
    }
    .media-card{
      height:500px;
      margin: 15px 0;
      width: 250px;
      border:1px solid rgb(184, 182, 182);
      border-radius: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
                align-items: center;
    padding: 6px;
     
    }
    .media-card img{
        height:50%;
        width: 96%;
        
       

    }
    .media-cotbox{
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }
    
    .media-cancel{
        color:green;
    }
    .media-card p{
        padding:4px;
        color: rgb(94, 93, 93);
        font-weight: 500;
    }
        .media-rating {
            background-color: #003580;
            color: white;
            padding: 2px 5px;
            margin: 0 4px;
        }
    
    
}

